.form-control-2{
    box-sizing: border-box;
    outline: none;
    display: block;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 0px;
    font: 16px Arial, Helvetica, sans-serif;
    width: -webkit-fill-available;
    color: #ffffff
}
.form-control-3{
    box-sizing: border-box;
    outline: none;
    display: block;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #FFF;
    background: transparent;
    margin-bottom: 0px;
    font: 16px Arial, Helvetica, sans-serif;
    width: -webkit-fill-available;
    color: #009933
}
.change-pl-color::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #FFF;
}
.change-pl-color-2::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #009933;
}
.display-flex{
    display: flex;
}
.display-flex span{
    padding-top: 5px;
}