<div class="col-lg-8 col-md-8 col-xs-12 bg-default-light" style="height: calc(100vh - 55px)">
    <div class="widget bg-primary"> 
        <div class="widget-bg-icon"> 
            <i class="fa fa-keyboard-o"></i> 
        </div> 
        <div class="widget-details"> 
            <h4 class="no-margin">Enter Plant Issue Details</h4>
            <br>
            <span class="hidden-xs">&nbsp;</span>
        </div> 
    </div>
    <!-- <img src="../../../images/plant.jpg" width="6000" height="4000" alt="plant"/> -->

    <!--    <div style="content: url('../../../images/plant.jpg');height: calc(100vh - 173px);width: 100%">
        </div> -->

    <div style="position: relative;height: calc(100vh - 173px);">
        <img src="../../../images/plant.png" alt="plant img" width="100%" height="100%">
        <div style="position: absolute;top: 8px;" class="col-lg-12 col-xs-12 col-md-12">
            <div class="col-lg-5 col-md-5 col-xs-5">&nbsp;</div>
            <div class="col-lg-7 col-md-7 col-xs-7">

                <div class="pb15 pt10 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.mobileNo'></span>
                    <input class="form-control-3 change-pl-color-2" placeholder="Mobile No" type="text" ng-model="model.data.mobileNo" ng-blur="ui.checkMobile()"  />
                </div>
                <div class="pb15 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.recidance'></span>
                    <select class='form-control-3' style="padding-top: 4px" ng-model="model.data.recidance">
                        <option value="" class="active">Mr Miss Mrs</option>
                        <option value="Mr">Mr</option>
                        <option value="Miss">Miss</option>
                        <option value="Mrs">Mrs</option>
                    </select>
                </div>
                <div class="pb15 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.name'></span>
                    <input class="form-control-3 change-pl-color-2" placeholder="Name" type="text" ng-model="model.data.name" />
                </div>
                <div class="pb15 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.address'></span>
                    <input class="form-control-3 change-pl-color-2" placeholder="Address" type="text" ng-model="model.data.address" />
                </div>
                <div class="pb15 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.city'></span>
                    <input class="form-control-3 change-pl-color-2" placeholder="City" type="text" ng-model="model.data.city"
                           uib-typeahead="city as (city) for city in model.cityList |filter:$viewValue|limitTo:10" 
                           typeahead-input-formatter="model.cityLable($model)" 
                           typeahead-editable="true"/>
                </div>
                <div class="pb15 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.email'></span>
                    <input class="form-control-3 change-pl-color-2" placeholder="Email" type="text" ng-model="model.data.email" />
                </div>
                <div class="pb15 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.branch'></span>
                    <input class="form-control-3 change-pl-color-2" placeholder="Branch" type="text" 
                           ng-model="model.data.branch" 
                           uib-typeahead="branch.indexNo as (branch.indexNo+ ' - ' +branch.name) for branch in model.branchList |filter:$viewValue|limitTo:10" 
                           typeahead-input-formatter="model.branchLable($model)" 
                           typeahead-editable="false"/>
                </div>
                <div class="pb15 display-flex">
                    <span class="fa fa-check text-primary" ng-show='model.data.plantName'></span>
                    <input class="form-control-3 change-pl-color-2" placeholder="Plant Name" type="text" 
                           ng-model="model.data.plantName"
                           uib-typeahead="plantName as (plantName) for plantName in model.plantNameList |filter:$viewValue|limitTo:10" 
                           typeahead-input-formatter="model.plantLable($model)" 
                           typeahead-editable="true"/>
                </div>
                <div class="mt10 no-padding">
                    <button class="btn btn-primary pull-right" style="width: 65px;" ng-click="ui.save()" type="button">Save</button> 
                    <button class="btn btn-warning pull-right mr20" style="width: 65px;" ng-click="ui.clear()" type="button">Clear</button> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-xs-12 bg-default-light" style="height: calc(100vh - 55px)">
    <div class="widget bg-primary pb25"> 
        <div class="widget-bg-icon"> 
            <i class="fa fa-tree"></i> 
        </div> 
        <div class="widget-details "> 
            <h4 class="no-margin">Plant Issue Details</h4>
            <div class="col-lg-6 pl0">
                <input type="text" class="form-control-2 change-pl-color" placeholder="search" ng-model="model.search"/>
            </div>
            <div class="col-lg-3 pl0">
                <input type="number" class="form-control-2 change-pl-color" placeholder="limit" ng-model="model.limitedCount" ng-blur="ui.getTop20()"/>
            </div>
            <div class="col-lg-3 pt5">
                <span>{{filteredList.length}}/{{model.count[1]}}</span>
            </div>
        </div> 
    </div>
    <div class="smart-scroll-y" style="max-height: calc(100vh - 165px)">
        
        <div class="widget bg-white" ng-repeat="data in model.dataList| filter : model.search as filteredList" ng-show="filteredList.length"> 
            <span >
                <i class="fa fa-compress pull-right text-warning"></i>
                <h3 class="mt0 mb0 bold">{{data[2]}}</h3>
            </span>
            <div class="small text-uppercase">{{data[3]}} {{data[4]}}</div>
            <small class="pt5"><span class="bold text-success" style="font-size: small">{{data[0]}} </span> <span class="bold" style="font-size: small"> @ {{data[1]}}</span></small> 
        </div>
        <div class="widget bg-white" ng-hide="filteredList.length"> 
            Empty.. Try Again
        </div>
    </div>
</div>